@import "tailwindcss";

:root {
  --primaryBackground: #fdf6ec;
  --bg2: #7b1111;
  --bg3: #bb8f52;
}

body {
  font-family: var(--font-lora), serif;
}

.font-chinese {
  font-family: var(--font-noto-sc), serif;
}
